.page {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/*************************************************************/
/*
/** HEADER 
/*
/*************************************************************/
header {
    background-color: var(--clr-green);
    padding: 8rem;
    text-align: center;
    height: 100vh;
    position: realtive;
    @media screen and (max-width: 900px) {
        height: 50vh;
    }
}