
:root {    
    --clr-green: #009640;
    --clr-light-green: #7bdcb5;
    --clr-light-gray: #f1f2f2;

    --clr-card: rgb(182,227,212);
    --clr-card-hoover: rgb(255,245,203);

    --fc-white: #fff;
    --fc-black: #000;

    --ff-sans-bold: 'mnr-sans-bold';
    --ff-sans: 'mnr-sans';
    --ff-serif-bold: 'mnr-serif-bold';
    --ff-serif: 'mnr-serif';

    --hover: opacity .3s ease-out, color .3s ease-out;
}
