@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;800&display=swap');

:root {
    --color-bg: ##f1f2f2;
    --color-primary: #009640;
    --color-primary-light: #80c29d;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-dark: #646161;
    --color-grey-light: #dbe1e1;
    --color-grey: #c9cbcb;
    --color-danger:
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    display: grid;
    grid-template-rows: 5rem 1fr 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-grey-dark);
}