:root {
  --clr-green: #009640;
  --clr-light-green: #7bdcb5;
  --clr-light-gray: #f1f2f2;

  --clr-card: rgb(182, 227, 212);
  --clr-card-hoover: rgb(255, 245, 203);

  --fc-white: #fff;
  --fc-black: #000;

  --ff-sans-bold: 'mnr-sans-bold', sans-serif;
  --ff-sans: 'mnr-sans', sans-serif;
  --ff-serif-bold: 'mnr-serif-bold', serif;
  --ff-serif: 'mnr-serif', serif;

  --hover: opacity .3s ease-out, color .3s ease-out;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
  color-scheme: light dark;
}

@font-face {
  font-family: 'mnr-serif';
  src: url('https://cdn.mnr.ch/d0a509a/fonts/3d3282e8-e471-4944-a58d-d4f21fcbf521.woff2');
}
@font-face {
  font-family: 'mnr-serif-bold';
  src: url('https://cdn.mnr.ch/d0a509a/fonts/9d126602-aa08-42ca-8df3-8c2d29b77364.woff2');
}
@font-face {
  font-family: 'mnr-sans';
  src: url('https://cdn.mnr.ch/d0a509a/fonts/71835da3-739d-453e-b3b5-79658493ed44.woff2');
}
@font-face {
  font-family: 'mnr-sans-bold';
  src: url('https://cdn.mnr.ch/d0a509a/fonts/1c8a3b4f-c749-4e41-a712-de3ab5af73cf.woff2');
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-serif);
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--ff-serif-bold);
}

a {
  font-family: var(--ff-sans-bold);
}

h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0; /* Ist wie margin-bottom */
}

:is(ul, ol)[class] {
  list-style: '';
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;    
}

a[class] {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border-style: none;
}




.page {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/*************************************************************/
/*
/** HEADER 
/*
/*************************************************************/
header {
  background-color: var(--clr-green);
  padding: 8rem;
  text-align: center;
  height: 100vh;
  position: realtive;

  @media screen {

      height: 50vh;
  }
}

/***************************************/
/*
/* LINKS
/*
/**************************************/
a {
  text-transform: uppercase;

  &:hover {
    opacity: .6;
    transition: var(--hover);
    color: var(--clr-light-green);
  }

  &.link-green {
    color: var(--clr-green);
  }

  &.link-white {
    color: var(--fc-white);
  }

  &.link {
    font-family: 'mnr-sans';
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 1.6;
    letter-spacing: .0rem;
    position: relative;
    text-align: right;
    float: right;

    @media (max-width: 470px) {
      font-size: 1.5rem;
    }
  }

  &.link {
    &::before {
      content: '';
      display: block;
      border-bottom: 4px solid var(--fc-white);
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      transition: scale .3s ease-out;
      scale: 0;
      transform-origin: 100% 50%;
    }

    &:hover {
      transition: var(--hover);
      color: var(--clr-light-green);
      opacity: .6;
    }

    &:hover::before {
      scale: 1;
      transform-origin: 0 50%;
    }
  }
}